%h3
  %a{href: "/city/#{@city.name}"} 人口面板
  %aside
    %form{action: "/api/update", method: "post"}
      %input{type: "hidden", name: "name", value: @city.name}
      %input{type: "submit", value: "UPDATE"}

%h3
  =@city.name
  %aside
    ="天数: #{@city.days}"
%table
  %tr
    %th 城市等级
    %th 人口总数
    %th 食物储量
    %th 耕地面积
    %th 建筑指数
  %tr
    %td{style: "text-align:center"}=@city.city_level.to_i
    %td{style: "text-align:center"}=@city.population
    %td{style: "text-align:center"}="%.2f" % @city.food_storage
    %td{style: "text-align:center"}="%.2f" % @city.farm_level
    %td{style: "text-align:center"}= "%.2f" % @city.city_upgrade

%h3 市民
%table
  %tr
    %th 身份ID
    %th 食物储量
    %th 工作能力
    %th 昨日工作
    %th 积极性
    %th 删除
  - for c in @city.citizen
    %tr
      %td{style: "text-align:center"}=c.id
      %td{style: "text-align:center"}="%.2f" % c.food
      %td{style: "text-align:center"}=c.ability.collect{ |a| "%.2f" % a}.join(", ")
      %td{style: "text-align:center"}=c.last_action ? c.last_action.description : "None"
      %td{style: "text-align:center"}=c.last_action ? "%.2f" % c.last_action_prob : "N/A"
      %td{style: "text-align:center"}
        %a{href: "/api/del_citizen?id=#{c.id}&name=#{@city.name}"} 删除
%br
%a{href: "/api/add_citizen?name=#{@city.name}"} +1 新的市民
